.link {
    color: rgb(173, 42, 173);
    margin-left: 40px;
    font-size: 20px;
    font-weight: bolder;
}
.logo{
    font-weight: bolder;
}
.navbar{
    width: 90%;
    margin: 0 auto;
}
.user-name{
    color: rgb(173, 42, 173);
    font-weight: bolder;
}